<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.whut.rentManagement.business.contract.mapper.InstallationMapper">
    <sql id="Installation_fields">
          ID,CONTRACTID,TYPE,INSTALLDEVICEID,INSTALLMAN,INSTALLTIME,INSTALLSTATUS,IMAGE,APPID
    </sql>
    <resultMap id="InstallationResultMap" type="Installation">
        <id property="id" column="ID" />
        <result property="contractId" column="CONTRACTID"/>
        <result property="type" column="TYPE"/>
        <result property="installDeviceId" column="INSTALLDEVICEID"/>
        <result property="installMan" column="INSTALLMAN"/>
        <result property="installTime" column="INSTALLTIME"/>
        <result property="installStatus" column="INSTALLSTATUS"/>
        <result property="image" column="IMAGE"/>
        <result property="appId" column="APPID"/>
    </resultMap>
    <insert id="add" parameterType="Installation"  keyProperty="id"
            useGeneratedKeys="true">

        INSERT INTO
        installation(
        <include refid="Installation_fields" />
        )
        VALUES (#{id}, #{contractId},#{type},#{installDeviceId},#{installMan},#{installTime},#{installStatus},#{image},#{appId});
        <selectKey resultType="long" keyProperty="id">
            select
            LAST_INSERT_ID() as id
        </selectKey>
    </insert>
<!--    <select id="getListByAppId" parameterType="java.lang.Long" resultMap="InstallationResultMap">
        select *
        from installation
        where APPID=#{appId}
    </select>-->
    <select id="getListByAppId" parameterType="java.lang.Long" resultType="Map">
           select c.name contractName,i.type,d.name deviceName,i.installMan,i.installTime,i.installStatus,i.id
           from  installation AS i,contract AS c,device AS d
           where i.appId=#{appId} AND i.contractId=c.id AND i.installDeviceId=d.id
    </select>
    <update id="update" parameterType="Installation">
        UPDATE installation
        <set>
            <!--<if test="contractId!=null">CONTRACTID=#{contractId},</if>-->
            <if test="type!=null">TYPE=#{type},</if>
            <!--<if test="installDeviceId!=null">INSTALLDEVICEID=#{installDeviceId},</if>-->
            <if test="installMan!=null">INSTALLMAN=#{installMan},</if>
            <if test="installStatus!=null">INSTALLSTATUS=#{installStatus},</if>
            <if test="installTime!=null">INSTALLTIME=#{installTime},</if>
            <if test="image!=null">IMAGE=#{image},</if>
            <if test="appId!=null">APPID=#{appId},</if>
        </set>
        WHERE ID=#{id}
    </update>
    <delete id="delete" parameterType="Installation">
        DELETE from installation
        <where>
            <if test="id!=null">ID=#{id}</if>
        </where>
    </delete>
    <select id="getIdByDeviceId" parameterType="java.lang.Long" resultType="java.lang.Long">
        select id
        from installation
        <if test="installDeviceId!=null">where INSTALLDEVICEID=#{installDeviceId}</if>
    </select>

    <select id="getInstallList" parameterType="map" resultType="map">
        select installation.*,contract.name,contract.customerName
        from installation,contract,device
        where installation.contractId=contract.id and installation.installDeviceId=device.id
        <if test="appId!=null"> AND installation.APPID=#{appId}</if>
        <if test="user!=null">AND installation.installMan like CONCAT('%',#{user},'%') </if>
        <if test="device!=null">AND device.name like CONCAT('%',#{device},'%')</if>
        <if test="startTime!=null"><![CDATA[ AND installation.installTime>=#{startTime}]]></if>
        <if test="endTime!=null"><![CDATA[ AND installation.installTime<=#{endTime} ]]> </if>
    </select>
    <select id="findByCondition" parameterType="map" resultType="map">
        select c.name contractName,i.type,d.name deviceName,i.installMan,i.installTime,i.installStatus
        from  installation AS i,contract AS c,device AS d
        where i.appId=#{appId} AND i.contractId=c.id AND i.installDeviceId=d.id
        <if test="contractName!=null">AND c.name LIKE #{contractName}</if>
        <if test="deviceName!=null">AND d.name LIKE #{deviceName}</if>
    </select>
</mapper>