<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.whut.rentManagement.business.contract.mapper.PreBuryMapper">
    <sql id="PreBury_fields">
          ID,CONTRACTID,PREBURYMAN,PREBURYCOUNT,PREBURYTIME,PREBURYSTATUS,IMAGE,APPID
    </sql>
    <resultMap id="PreBuryResultMap" type="PreBury">
        <id property="id" column="ID" />
        <result property="contractId" column="CONTRACTID"/>
        <result property="preBuryMan" column="PREBURYMAN"/>
        <result property="preBuryCount" column="PREBURYCOUNT"/>
        <result property="preBuryTime" column="PREBURYTIME"/>
        <result property="preBuryStatus" column="PREBURYSTATUS"/>
        <result property="image" column="IMAGE"/>
        <result property="appId" column="APPID"/>
    </resultMap>
    <insert id="add" parameterType="PreBury"  keyProperty="id"
            useGeneratedKeys="true">

        INSERT INTO
        prebury(
        <include refid="PreBury_fields" />
        )
        VALUES (#{id}, #{contractId},#{preBuryMan},#{preBuryCount},#{preBuryTime},#{preBuryStatus},#{image},#{appId});
        <selectKey resultType="long" keyProperty="id">
            select
            LAST_INSERT_ID() as id
        </selectKey>
    </insert>

    <select id="getListByAppId" parameterType="java.lang.Long" resultType="Map">
      select prebury.*,contract.name contractName,customer.name as customerName
           from prebury
        LEFT JOIN contract ON prebury.contractId=contract.id
        LEFT JOIN customer ON contract.customerId=customer.id
           where prebury.appId=#{appId}
           order by prebury.id desc
    </select>


    <update id="update" parameterType="PreBury">
        UPDATE prebury
        <set>
            <if test="preBuryMan!=null">PREBURYMAN=#{preBuryMan},</if>
            <if test="preBuryStatus!=null">PREBURYSTATUS=#{preBuryStatus},</if>
            <if test="preBuryCount!=null">PREBURYCOUNT=#{preBuryCount},</if>
            <if test="image!=null">IMAGE=#{image},</if>
            <if test="preBuryTime!=null">PREBURYTIME=#{preBuryTime},</if>
        </set>
        WHERE ID=#{id}
    </update>

    <delete id="delete" parameterType="PreBury">
        DELETE from prebury
        <where>
            <if test="id!=null">ID=#{id}</if>
        </where>
    </delete>

    <select id="getIdByContractId" parameterType="java.lang.Long" resultType="java.lang.Long">
        select id
        from prebury
        <if test="contractId!=null">where CONTRACTID=#{contractId}</if>
    </select>

    <select id="getPreburyList" parameterType="map" resultType="map">
        select prebury.*,contract.name as contractName,customer.name as customerName
        from prebury
        LEFT JOIN contract ON prebury.contractId=contract.id
        LEFT JOIN customer ON contract.customerId=customer.id
        <where>
        <if test="appId!=null"> prebury.APPID=#{appId}</if>
        <if test="user!=null">AND prebury.preBuryMan like CONCAT('%',#{user},'%') </if>
        <if test="startTime!=null"><![CDATA[ AND prebury.preBuryTime>=#{startTime}]]></if>
        <if test="endTime!=null"><![CDATA[ AND prebury.preBuryTime<=#{endTime} ]]> </if>
        </where>
        order by prebury.id desc
    </select>

    <select id="findByCondition" parameterType="map" resultType="map">
        select prebury.*,contract.name as contractName,customer.name as customerName
        from prebury
        LEFT JOIN contract ON prebury.contractId=contract.id
        LEFT JOIN customer ON contract.customerId=customer.id
        <where>
            <if test="appId!=null"> prebury.APPID=#{appId}</if>
            <if test="user!=null">AND prebury.preBuryMan like CONCAT('%',#{user},'%') </if>
            <if test="device!=null">AND contract.name like CONCAT('%',#{device},'%')</if>
            <if test="startTime!=null"><![CDATA[ AND prebury.preBuryTime>=#{startTime}]]></if>
            <if test="endTime!=null"><![CDATA[ AND prebury.preBuryTime<=#{endTime} ]]> </if>
            <if test="contractName!=null">AND contract.name LIKE #{contractName}</if>
        </where>
        order by prebury.id desc
    </select>

    <select id="getListByContractId" parameterType="map" resultType="Map">
        select prebury.*,contract.name as contractName,customer.name as customerName
        from prebury
        LEFT JOIN contract ON prebury.contractId=contract.id
        LEFT JOIN customer ON contract.customerId=customer.id
        <where>
            <if test="appId!=null">prebury.appId=#{appId}</if>
            <if test="contractId!=null">AND prebury.contractId=#{contractId}</if>
        </where>
        order by prebury.id desc
    </select>

</mapper>