<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.whut.platform.business.user.mapper.AuthorityMapper">
    <sql id="authority_fields">
		ID,NAME,DESCRIPTION,STATUS
	</sql>

    <sql id="subAuthority_fields">
         ID,NAME,DESCRIPTION,STATUS,RESOURCE
    </sql>

    <resultMap id="authorityResultMap" type="Authority">
        <id property="id" column="ID" />
        <result property="name" column="NAME" />
        <result property="description" column="DESCRIPTION" />
        <result property="status" column="STATUS"/>
    </resultMap>

    <resultMap id="subAuthorityResultMap" type="SubAuthority">
        <id property="id" column="ID"/>
        <result property="name" column="NAME"/>
        <result property="description" column="DESCRIPTION"/>
        <result property="status" column="STATUS"/>
        <result property="resource" column="RESOURCE"/>
    </resultMap>

    <insert id="add" parameterType="Authority" keyProperty="id"
            useGeneratedKeys="true">
        INSERT INTO
        authority(
        <include refid="authority_fields" />
        )
        VALUES (#{id}, #{name}, #{description},#{status});
        <selectKey resultType="long" keyProperty="id">
            select
            LAST_INSERT_ID() as id
        </selectKey>
    </insert>

    <select id="totalCount" parameterType="map" resultType="java.lang.Long">
        SELECT count(*)
        FROM authority
        <where>
            <if test="name != null">NAME=#{name}</if>
        </where>
    </select>


    <update id="update" parameterType="Authority">
        UPDATE authority
        <set>
            <if test="name != null">NAME=#{name},</if>
            <if test="description != null">DESCRIPTION=#{description},</if>
            <if test="status != null">STATUS=#{status}</if>
        </set>
        WHERE ID = #{id};
    </update>

    <delete id="delete" parameterType="Authority">
        DELETE FROM authority
        <where>
            <if test="id != null">ID=#{id}</if>
            <if test="name != null">AND NAME=#{name}</if>
        </where>
    </delete>

    <select id="get" parameterType="Authority" resultMap="authorityResultMap">
        SELECT
        <include refid="authority_fields" />
        FROM authority WHERE ID=#{id}
    </select>

    <select id="findByName" parameterType="java.lang.String" resultMap="authorityResultMap">
        SELECT
        <include refid="authority_fields" />
        FROM authority where name=#{name}
    </select>

    <select id="findByCondition" parameterType="map" resultMap="authorityResultMap">
        SELECT
        <include refid="authority_fields"/>
        FROM authority
        <where>
            <if test="name!=null">NAME=#{name}</if>
            <if test="description!=null">AND DESCRIPTION=#{description}</if>
            <if test="status!=null">AND STATUS=#{status}</if>
        </where>
    </select>

    <select id="getNameById" parameterType="java.lang.Long" resultType="java.lang.String">
        SELECT name
        FROM authority WHERE ID=#{id}
    </select>

    <select id="getIdByName" parameterType="java.lang.String" resultType="java.lang.Long">
         SELECT
         id
         FROM authority WHERE NAME=#{name}
     </select>


</mapper>