<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.whut.platform.business.user.mapper.UserMapper">
    <sql id="user_fields">
		ID,NAME,PASSWORD,SEX,ROLE,STATUS,APPID,IMAGE
	</sql>

    <resultMap id="userResultMap" type="User">
        <id property="id" column="ID" />
        <result property="name" column="NAME" />
        <result property="password" column="PASSWORD" />
        <result property="sex" column="SEX"/>
        <result property="role" column="ROLE"/>
        <result property="status" column="STATUS"/>
        <result property="appId" column="APPID"/>
        <result property="image" column="IMAGE"/>
    </resultMap>

    <insert id="add" parameterType="User"  keyProperty="id"
            useGeneratedKeys="true">
        INSERT INTO
        user(
        <include refid="user_fields" />
        )
        VALUES (#{id}, #{name}, #{password},#{sex},#{role},#{status},#{appId},#{image});
        <selectKey resultType="long" keyProperty="id">
            select
            LAST_INSERT_ID() as id
        </selectKey>
    </insert>

    <select id="totalCount" parameterType="map" resultType="java.lang.Long">
        SELECT count(*)
        FROM user
        <where>
            <if test="name != null">NAME=#{name}</if>
        </where>
    </select>


    <update id="update" parameterType="User">
        UPDATE user
        <set>
            <if test="name != null">NAME=#{name},</if>
            <if test="password != null">PASSWORD=#{password},</if>
            <if test="sex != null">SEX=#{sex},</if>
            <if test="role !=null">ROLE=#{role},</if>
            <if test="status !=null">STATUS=#{status},</if>
            <if test="appId !=null">APPID=#{appId}</if>
        </set>
        WHERE ID = #{id};
    </update>

    <update id="updateUserImage" parameterType="User">
        UPDATE user
        <set>
            <if test="image != null">IMAGE=#{image}</if>
        </set>
        WHERE ID = #{id};
    </update>

    <delete id="delete" parameterType="User">
        DELETE FROM user
        <where>
            <if test="id != null">ID=#{id}</if>

            <if test="name != null"> AND NAME=#{name}</if>
        </where>
    </delete>

    <select id="get" parameterType="User" resultMap="userResultMap">
        SELECT
        <include refid="user_fields" />
        FROM user WHERE ID=#{id}
    </select>

    <select id="findByName" parameterType="java.lang.String" resultMap="userResultMap">
        SELECT
        <include refid="user_fields" />
        FROM user where name=#{name}
    </select>

    <select id="findByCondition" parameterType="map" resultMap="userResultMap">
        SELECT
        <include refid="user_fields"/>
        FROM user
        <where>
            <if test="name!=null">NAME=#{name}</if>
            <if test="password!=null">AND PASSWORD=#{password}</if>
            <if test="sex!=null">AND SEX=#{sex}</if>
            <if test="role!=null">AND ROLE=#{role}</if>
            <if test="status!=null">AND STATUS=#{status}</if>
            <if test="appId!=null">AND APPID=#{appId}</if>
        </where>
    </select>

    <select id="getIdByName" parameterType="java.lang.String" resultType="java.lang.Long">
         SELECT
         id
         FROM user WHERE NAME=#{name}
     </select>

    <select id="getById" parameterType="java.lang.Long" resultType="User">
        SELECT
        <include refid="user_fields"/>
        from user
        where ID=#{id}
    </select>

</mapper>