<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.whut.inspectManagement.business.inspectResult.mapper.InspectItemRecordMapper">
    <sql id="inspectItemRecord_fields">
		ID,INSPECTTABLEID,INSPECTTAGID,INSPECTITEMID,INSPECTCHOICEID,INSPECTCHOICEVALUE,INSPECTTABLERECORDID,USERID,DEVICEID,APPID,NOTE,CREATETIME,INSPECTTIME,MAINTAINID,MAINTAINSUGGEST
	</sql>

    <resultMap id="inspectItemRecordResultMap" type="InspectItemRecord">
        <id property="id" column="ID" />
        <result property="inspectTableId" column="INSPECTTABLEID" />
        <result property="inspectTagId" column="INSPECTTAGID" />
        <result property="inspectItemId" column="INSPECTITEMID"/>
        <result property="inspectChoiceId" column="INSPECTCHOICEID"/>
        <result property="inspectChoiceValue" column="INSPECTCHOICEVALUE"/>
        <result property="inspectTableRecordId" column="INSPECTTABLERECORDID"/>
        <result property="userId" column="USERID"/>
        <result property="deviceId" column="DEVICEID"/>
        <result property="appId" column="APPID"/>
        <result property="note" column="NOTE"/>
        <result property="createTime" column="createTime"/>
        <result property="inspectTime" column="inspectTime"/>
        <result property="maintainId" column="MAINTAINID"/>
        <result property="maintainSuggest" column="MAINTAINSUGGEST"/>
    </resultMap>

    <resultMap id="searchResultMap" type="SearchBean">
        <id property="id" column="ID" />
        <id property="itemId" column="ITEMID"/>
        <result property="userName" column="userName" />
        <result property="itemName" column="itemName" />
        <result property="tableName" column="tableName"/>
        <result property="deviceName" column="deviceName"/>
        <result property="inspectChoiceValue" column="inspectChoiceValue"/>
        <result property="note" column="note"/>
        <result property="createTime" column="createTime"/>
        <result property="inspectTime" column="inspectTime"/>
        <result property="maintainId" column="MAINTAINID"/>
        <result property="maintainSuggest" column="MAINTAINSUGGEST"/>
        <result property="image" column="image"/>
    </resultMap>

    <insert id="add" parameterType="InspectItemRecord"  keyProperty="id"
            useGeneratedKeys="true">
        INSERT INTO
        inspectitemrecord(
        <include refid="inspectItemRecord_fields" />
        )
        VALUES (#{id}, #{inspectTableId}, #{inspectTagId},#{inspectItemId},#{inspectChoiceId},#{inspectChoiceValue},#{inspectTableRecordId},#{userId},#{deviceId},#{appId},#{note},#{createTime},#{inspectTime},#{maintainId},#{maintainSuggest});
        <selectKey resultType="long" keyProperty="id">
            select
            LAST_INSERT_ID() as id
        </selectKey>
    </insert>

    <select id="totalCount" parameterType="map" resultType="java.lang.Long">
        SELECT count(*)
        FROM inspectitemrecord
        <where>
            <if test="id != null">ID=#{id}</if>
        </where>
    </select>


    <update id="update" parameterType="InspectItemRecord">
        UPDATE inpectitemrecord
        <set>
            <if test="inspectTableId != null">INSPECTTABLEID=#{inspectTableId},</if>
            <if test="inspectTagId != null">INSPECTTAGID=#{inspectTagId},</if>
            <if test="inspectItemId != null">INSPECTITEMID=#{inspectItemId},</if>
            <if test="inspectChoiceId !=null">INSPECTCHOICEID=#{inspectChoiceId},</if>
            <if test="inspectChoiceValue !=null">INSPECTCHOICEVALUE=#{inspectChoiceValue},</if>
            <if test="inspeceTableRecordId !=null">INSPECTTABLERECORDID=#{inspectTableRecordId},</if>
            <if test="userId !=null">USERID=#{userId},</if>
            <if test="deviceId !=null">DEVICEID=#{deviceId},</if>
            <if test="appId !=null">APPID=#{appId},</if>
            <if test="note !=null">NOTE=#{note},</if>
            <if test="createTime !=null">CREATETIME=#{createTime},</if>
            <if test="inspectTime !=null">INSPECTTIME=#{inspectTime},</if>
            <if test="maintainId !=null">MAINTAINID=#{maintainId},</if>
            <if test="maintainSuggest !=null">MAINTAINSUGGEST=#{maintainSuggest}</if>
        </set>
        WHERE ID=#{id}
    </update>

    <update id="updateMaintainIdAndSuggest" parameterType="map">    /*新增,更新维修id和维修建议*/
        update inspectitemrecord
        <set>
            <if test="inspectChoiceValue !=null">INSPECTCHOICEVALUE=#{inspectChoiceValue},</if>
            <if test="maintainId !=null">MAINTAINID=#{maintainId},</if>
            <if test="maintainSuggest !=null">MAINTAINSUGGEST=#{maintainSuggest}</if>

        </set>
        where DEVICEID=#{deviceId} AND INSPECTTABLEID=#{inspectTableId} AND INSPECTTABLERECORDID=#{inspectTableRecordId} AND APPID=#{appId} AND INSPECTITEMID=#{inspectItemId}
    </update>

    <delete id="delete" parameterType="InspectItemRecord">
        DELETE FROM inspectitemrecord
        <where>
            <if test="id != null">ID=#{id}</if>
            <if test="inspectTableId != null"> AND INSPECTTABLEID=#{inspectTableId}</if>
        </where>
    </delete>

    <select id="get" parameterType="InspectItemRecord" resultMap="inspectItemRecordResultMap">
        SELECT
        <include refid="inspectItemRecord_fields" />
        FROM inspectitemrecord WHERE ID=#{id}
    </select>

    <select id="getTableRecordIdByItemRecordId" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT b.id
        FROM inspectitemrecord AS a,inspecttablerecord AS b
        WHERE a.id=#{itemRecordId} AND b.id=a.inspectTableRecordId
    </select>

    <select id="findByCondition" parameterType="map" resultMap="searchResultMap">
        SELECT
        a.*,b.`name` as itemName,c.`name` as tableName,d.`name` as deviceName,e.name as userName,b.id as itemId,a.maintainId,a.maintainSuggest  /*新增itemId,image*/
        FROM (select inspectitemrecord.*,image_upload.image from inspectitemrecord left join image_upload on inspectitemrecord.id=image_upload.itemRecordId)as a,inspectitem b,inspecttable c,device d,employee e
        <where>
            a.inspectItemId=b.id and a.inspectTableId=c.id and a.deviceId=d.id and a.userId=e.userId AND a.inspectChoiceValue='异常'
            <if test="appId!=null"> AND a.APPID=#{appId}</if>
            <if test="userId!=null">AND a.userId=#{userId}</if>
            <if test="deviceId!=null">AND a.deviceId=#{deviceId}</if>
            <if test="startTime!=null"><![CDATA[ AND a.createTime>=#{startTime}]]></if>
            <if test="endTime!=null"><![CDATA[ AND a.createTime<=#{endTime} ]]> </if>
        </where>
        order by createTime desc
    </select>

    <select id="getIdByCondition" parameterType="map" resultType="java.lang.Long">
        SELECT id
        FROM inspectitemrecord
        WHERE inspectTableId=#{inspectTableId} AND inspectTagId=#{inspectTagId} AND inspectItemId=#{inspectItemId}
        AND inspectChoiceId=#{inspectChoiceId} AND createTime=#{date} AND userId=#{userId}
        AND deviceId=#{deviceId} AND appId=#{appId}
    </select>

    <update id="updateTableRecordId" parameterType="map">
        UPDATE inspectitemrecord
        SET inspectTableRecordId=#{tableRecordId}
        WHERE id=#{id}
    </update>

</mapper>