<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.whut.inspectManagement.business.deptAndEmployee.mapper.EmployeeEmployeeRoleMapper">
    <sql id="emp_empRole_fields">
       ID,EMPLOYEENAME,EMPLOYEEROLENAME,EMPLOYEEID,EMPLOYEEROLEID,APPID
    </sql>

    <resultMap id="EmpEmpRoleResultMap" type="EmployeeEmployeeRole">
        <id property="id" column="ID" />
        <result property="employeeName" column="EMPLOYEENAME" />
        <result property="employeeRoleName" column="EPLOYEEROLENAME" />
        <result property="employeeId" column="EMPLOYEEID" />
        <result property="employeeRoleId" column="EMPLOYEEROLEID" />
        <result property="appId" column="APPID" />
    </resultMap>

    <insert id="add" parameterType="EmployeeEmployeeRole" keyProperty="id" useGeneratedKeys="true">
        insert into
        employee_employeerole(
        <include refid="emp_empRole_fields"/>
        )
        values (#{id},#{employeeName},#{employeeRoleName},#{employeeId},#{employeeRoleId},#{appId});
        <selectKey resultType="long" keyProperty="id">
            select
            LAST_INSERT_ID() as id
        </selectKey>
    </insert>

    <update id="update" parameterType="EmployeeEmployeeRole">
        UPDATE employee_employeerole
        <set>
            <if test="employeeId != null">EMPLOYEEID=#{employeeId},</if>
            <if test="employeeRoleId != null">EMPLOYEEROLEID=#{employeeRoleId},</if>
            <if test="employeeName != null">EMPLOYEENAME=#{employeeName},</if>
            <if test="employeeRoleName != null">EMPLOYEEROLENAME=#{employeeRoleName},</if>
            <if test="appId != null">APPID=#{appId}</if>
        </set>
        WHERE ID = #{id};
    </update>

    <delete id="deleteByEmployeeId" parameterType="java.lang.Long">
        DELETE FROM employee_employeerole
        WHERE EMPLOYEEID= #{employeeId};
    </delete>

    <delete id="deleteByEmployeeRoleId" parameterType="java.lang.Long">
        DELETE FROM employee_employeerole
        WHERE EMPLOYEEROLEID= #{employeeRoleId};
    </delete>

    <delete id="deleteByEmployeeName" parameterType="java.lang.String">
        DELETE FROM employee_employeerole
        WHERE EMPLOYEENAME = #{employeeName};
    </delete>

    <delete id="delete" parameterType="EmployeeEmployeeRole">
        DELETE FROM employee_employeerole
        <where>
            <if test="id != null">ID=#{id}</if>
        </where>
    </delete>

    <select id="get" parameterType="EmployeeEmployeeRole" resultMap="EmpEmpRoleResultMap">
        SELECT
        <include refid="emp_empRole_fields" />
        FROM employee_employeerole WHERE ID=#{id};
    </select>

    <select id="findByEmployeeName" parameterType="java.lang.String" resultMap="EmpEmpRoleResultMap">
        SELECT
        <include refid="emp_empRole_fields" />
        FROM employee_employeerole where employeeName=#{employeeName}
    </select>

    <select id="findByEmployeeRoleName" parameterType="java.lang.String" resultMap="EmpEmpRoleResultMap">
        SELECT
        <include refid="emp_empRole_fields"/>
        FROM employee_employeerole WHERE employeRoleName=#{employeeRoleName}
    </select>

    <select id="getByEmployeeId" parameterType="java.lang.Long" resultMap="EmpEmpRoleResultMap">
        select
        <include refid="emp_empRole_fields"/>
        from employee_employeerole
        where EMPLOYEEID=#{employeeId}
    </select>

    <select id="getByEmployeeRoleId" parameterType="java.lang.Long" resultMap="EmpEmpRoleResultMap">
        select
        <include refid="emp_empRole_fields"/>
        from employee_employeerole
        where EMPLOYEEROLEID=#{employeeRoleId}
    </select>

    <select id="getByEmployeeNameAndRole" parameterType="map" resultMap="EmpEmpRoleResultMap">
       select
       <include refid="emp_empRole_fields"/>
        from employee_employeerole
        <where>
            <if test="employeeName != null">EMPLOYEENAME=#{employeeName}</if>
            <if test="employeeRole !=null">and EMPLOYEEROLENAME=#{employeeRole}</if>
            <if test="appId != null"> and APPID=#{appId}</if>
        </where>
    </select>

    <select id="getById" parameterType="java.lang.Long" resultMap="EmpEmpRoleResultMap">
        select
        <include refid="emp_empRole_fields"/>
        from employee_employeerole
        where id=#{id}
    </select>
</mapper>