<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.whut.platform.business.address.mapper.AddressMapper">
    <sql id="address_fields">
		ID,PROVINCE,CITY,AREA
	</sql>

    <resultMap id="addressResultMap" type="Address">
        <id property="id" column="ID" />
        <result property="province" column="PROVINCE" />
        <result property="city" column="CITY" />
        <result property="area" column="AREA" />
    </resultMap>

    <insert id="insert" parameterType="Address" keyProperty="id"
            useGeneratedKeys="true">
        INSERT INTO
        address(
        <include refid="address_fields" />
        )
        VALUES (#{id}, #{name}, #{password);
        <selectKey resultType="long" keyProperty="id">
            select
            LAST_INSERT_ID() as id
        </selectKey>
    </insert>

    <select id="totalCount" parameterType="map" resultType="java.lang.Long">
        SELECT count(*)
        FROM address
        <where>
            <if test="province != null">PROVINCE=#{province}</if>
            <if test="city != null">CITY=#{city}</if>
            <if test="area != null">AREA=#{area}</if>
        </where>
    </select>
    <update id="update" parameterType="Address">
        UPDATE address
        <set>
            <if test="province != null">PROVINCE=#{province},</if>
            <if test="city != null">CITY=#{city},</if>
            <if test="area != null">AREA=#{area}</if>
        </set>
        WHERE ID = #{id};
    </update>

    <update id="delete" parameterType="Address">
        DELETE FROM address
        WHERE
        <where>
            <if test="id != null">ID=#{id}</if>
        </where>
    </update>

    <select id="get" parameterType="Address" resultMap="addressResultMap">
        SELECT
        <include refid="address_fields" />
        FROM address WHERE ID=#{id};
    </select>

    <select id="findById" parameterType="java.lang.String" resultMap="addressResultMap">
        SELECT
        <include refid="address_fields" />
        FROM address where ID=#{id}
    </select>

    <select id="findByArea" parameterType="java.lang.String" resultMap="addressResultMap">
        SELECT
        <include refid="address_fields" />
        FROM address where area=#{area}
    </select>
    <select id="findIdByArea" parameterType="map" resultType="java.lang.Long">
        SELECT id
        FROM address
        <where>
            <if test="province != null">
                PROVINCE=#{province}
            </if>
            <if test="city != null">
                and CITY=#{city}
            </if>
            <if test="area != null">
                and AREA=#{area}
            </if>
        </where>
    </select>
    <select id="findIdByProvinceCity" parameterType="map" resultType="java.lang.Long">
        SELECT id
        FROM address
        <where>
            <if test="province != null">
                PROVINCE=#{province}
            </if>
            <if test="city != null">
                and CITY=#{city}
            </if>
        </where>
    </select>
    <select id="findIdByProvince" parameterType="java.lang.String" resultType="java.lang.Long">
        SELECT id
        FROM address
        WHERE PROVINCE=#{province}
    </select>
    <select id="findIdByCityArea" parameterType="map" resultType="java.lang.Long">
        SELECT
        id
        FROM  address
        <where>
            <if test="city!=null">
                CITY=#{city}
            </if>
            <if test="area!=null">
                and AREA=#{area}
            </if>
        </where>
    </select>
    <select id="getCityByProvince" parameterType="java.lang.String" resultMap="addressResultMap">
        SELECT
        DISTINCT (city)
        FROM address where PROVINCE=#{province}
    </select>
    <select id="getAreaByCity" parameterType="java.lang.String" resultMap="addressResultMap">
        SELECT
        area
        FROM address where CITY=#{city}
    </select>

    <select id="getProvinceList" resultMap="addressResultMap">
        SELECT
        DISTINCT (province)
        FROM address
    </select>

    <select id="list" resultMap="addressResultMap">
        SELECT
        *
        FROM address
    </select>
    <select id="getAreaByProvinceAndCity" parameterType="map" resultMap="addressResultMap">
        SELECT
        id ,area
        FROM address
        WHERE
        province=#{province} AND city=#{city}
    </select>
    <select id="getProvinceWithDataRule" parameterType="java.lang.String" resultMap="addressResultMap">
        SELECT DISTINCT a.province
        FROM user u,drole dr,user_drole udr,drole_address draddr,address a
        WHERE u.id=udr.userId AND udr.droleId=dr.id AND dr.id=draddr.droleId AND draddr.addressId=a.id AND u.name=#{userName}
    </select>
    <select id="getCityWithDataRule" parameterType="map" resultMap="addressResultMap">
        SELECT DISTINCT a.city
        FROM user u,drole dr,user_drole udr,drole_address draddr,address a
        WHERE u.id=udr.userId AND udr.droleId=dr.id AND dr.id=draddr.droleId AND draddr.addressId=a.id
        AND a.province=#{province} AND  u.name=#{userName}
    </select>
    <select id="getAreaWithDataRule" parameterType="map" resultMap="addressResultMap">
       SELECT DISTINCT a.id,a.area
       FROM user u,drole dr,user_drole udr,drole_address draddr,address a
       WHERE u.id=udr.userId AND udr.droleId=dr.id AND dr.id=draddr.droleId AND draddr.addressId=a.id AND a.province=#{province}
       AND a.city=#{city}  AND u.name=#{userName}
    </select>

    <select id="findProvinceById"  parameterType="long" resultType="java.lang.String">
        Select
        province
        from   address
        where id=#{id}
    </select>

    <select id="findCityById"  parameterType="long" resultType="java.lang.String">
        Select
        city
        from   address
        where id=#{id}
    </select>

    <select id="findAreaById"  parameterType="long" resultType="java.lang.String">
        Select
        area
        from   address
        where id=#{id}
    </select>
    <select id="getAddressInfoByAddressId" resultMap="addressResultMap">
        select a.*
        from address a,craneinspectreport cr
        where a.id=cr.addressId group by a.id
    </select>
    <select id="getProvinceCity" resultMap="addressResultMap">
         SELECT a.province,a.city
         FROM address a,craneinspectreport cr
         WHERE a.id=cr.addressId GROUP BY a.province,a.city
    </select>
    <select id="getId" resultMap="addressResultMap">
         SELECT a.id
         FROM address a,craneinspectreport cr
         WHERE a.id=cr.addressId GROUP BY a.id
    </select>
    <select id="getProvince" resultMap="addressResultMap">
         SELECT a.province
         FROM address a,craneinspectreport cr
         WHERE a.id=cr.addressId GROUP BY a.province
    </select>
</mapper>