<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.whut.rentManagement.business.deptAndEmployee.mapper.EmployeeMapper">
    <sql id="employee_fields">
       ID,DEPARTMENTID,NAME,SEX,SKILLID,TELEPHONE,EMAIL,EMPLOYEDTIME,POSITION,CREATETIME,APPID
    </sql>
   <!-- MyBatis 到哪里去找映射文件  -->
    <resultMap id="employeeResultMap" type="employee">
        <id property="id" column="ID" />
        <result property="name" column="NAME" />
        <result property="departmentId" column="DEPARTMENTID" />
        <result property="sex" column="SEX" />
        <result property="skillId" column="SKILLID"/>
        <result property="email" column="EMAIL"/>
        <result property="appId" column="APPID"/>
        <result property="employedTime" column="EMPLOYEDTIME"/>
        <result property="position" column="POSITION"/>
        <result property="createTime" column="CREATETIME"/>
        <result property="telephone" column="TELEPHONE" />
    </resultMap>

    <insert id="add" parameterType="employee" keyProperty="id"
            useGeneratedKeys="true">
        INSERT INTO
        employee(name,departmentId,sex,skillId,email,appId,employedTime,position,createTime,telephone)
        VALUES (#{name},#{departmentId},#{sex},#{skillId},#{email},#{appId},#{employedTime},#{position},#{createTime},#{telephone});
        <selectKey resultType="long" keyProperty="id">
            select
            LAST_INSERT_ID() as id
        </selectKey>
    </insert>

    <update id="update" parameterType="employee">
        update employee
        <set>
            <if test="name!=null">NAME=#{name},</if>
            <if test="departmentId!=null">DEPARTMENTID=#{departmentId},</if>
            <if test="sex!=null">SEX=#{sex},</if>
            <if test="skillId!=null">SKILLID=#{skillId},</if>
            <if test="email!=null">EMAIL=#{email},</if>
            <if test="appId!=null">APPID=#{appId},</if>
            <if test="employedTime!=null">EMPLOYEDTIME=#{employedTime},</if>
            <if test="position!=null">POSITION=#{position},</if>
            <if test="createTime!=null">CREATETIME=#{createTime},</if>
            <if test="telephone!=null">TELEPHONE=#{telephone}</if>
        </set>
        where ID=#{id};
    </update>

    <delete id="delete" parameterType="employee">
        DELETE FROM employee
        <where>
            <if test="id != null">ID=#{id}</if>
            <if test="name != null"> AND NAME=#{name}</if>
        </where>
    </delete>


    <select id="getById" parameterType="java.lang.Long" resultMap="employeeResultMap">
        select
        <include refid="employee_fields"/>
        from employee
        where ID=#{id}
    </select>

    <select id="getIdByName" parameterType="java.lang.String" resultType="java.lang.Long">
        select ID
        from employee
        where NAME=#{name}
    </select>

    <!--  这个返回list类型，还有待确定   -->
    <select id="getListByAppId" parameterType="java.lang.Long" resultMap="employeeResultMap">
        select
        <include refid="employee_fields"/>
        from employee
        where APPID=#{appId}
    </select>


</mapper>