<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.whut.rentManagement.business.deptAndEmployee.mapper.SkillMapper">
    <sql id="skill_fields">
       ID,NAME,DESCRIPTION,CREATETIME,APPID
    </sql>
    <!-- MyBatis 到哪里去找映射文件  -->
    <resultMap id="skillResultMap" type="skill">
        <id property="id" column="ID" />
        <result property="name" column="NAME" />
        <result property="description" column="DESCRIPTION" />
        <result property="createTime" column="CREATETIME"/>
        <result property="appId" column="APPID"/>
    </resultMap>

    <!--插入是否需要ID-->
    <insert id="add" parameterType="skill" keyProperty="id"
            useGeneratedKeys="true">
        INSERT INTO
        skill(name,description,createTime,appId)
        VALUES (#{name},#{description},#{createTime},#{appId});
        <selectKey resultType="long" keyProperty="id">
            select
            LAST_INSERT_ID() as id
        </selectKey>
    </insert>

    <update id="update" parameterType="skill">
        update skill
        <set>
            <if test="name!=null">NAME=#{name},</if>
            <if test="description!=null">DESCRIPTION=#{description},</if>
            <if test="createTime!=null">CREATETIME=#{createTime},</if>
        </set>
        where ID=#{id};
    </update>

    <delete id="delete" parameterType="skill">
        DELETE FROM skill
        <where>
            <if test="id != null">ID=#{id}</if>
            <if test="name != null"> AND NAME=#{name}</if>
        </where>
    </delete>

    <select id="getById" parameterType="java.lang.Long" resultMap="skillResultMap">
        select
        <include refid="skill_fields"/>
        from skill
        where ID=#{id}
    </select>

    <select id="getSkillNameById" parameterType="java.lang.Long" resultType="java.lang.String">
        select name
        from skill
        where ID=#{id}
    </select>

    <select id="getIdBySkillName" parameterType="java.lang.String" resultType="java.lang.Long">
        select ID
        from skill
        where NAME=#{name}
    </select>

    <select id="list" parameterType="java.lang.Long" resultMap="skillResultMap">
        SELECT
        <include refid="skill_fields"/>
        FROM skill
        WHERE APPID=#{appId}
    </select>
</mapper>