body{ padding:0px; margin:0;}
.dataShow{width: 100%;overflow: hidden}
.accordion{width: 14%;min-height:500px;overflow:hidden;float:left;height: 100%;}
.accordion li{cursor: pointer;}
.searchReportShow{min-height:500px;overflow: hidden;border: 1px solid #EAF2FE;margin-left: 2px}