<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.whut.inspectManagement.business.device.mapper.InspectTagMapper">
    <sql id="inspectTag_fields">
       ID,NAME,DESCRIPTION,CREATETIME,NUMBER,INSPECTAREAID,DEVICEID,APPID
    </sql>
    <resultMap id="inspectTagResultMap" type="InspectTag">
        <id property="id" column="ID"/>
        <result property="name" column="NAME"/>
        <result property="description" column="DESCRIPTION"/>
        <result property="createtime" column="CREATETIME" />
        <result property="number" column="NUMBER"/>
        <result property="inspectAreaId" column="INSPECTAREAID"/>
        <result property="deviceId" column="DEVICEID"/>
        <result property="appId" column="APPID"/>
    </resultMap>
    <insert id="add" parameterType="InspectTag"  keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        inspecttag(
        <include refid="inspectTag_fields"/>
        )
        VALUES (#{id},#{name},#{description},#{createtime},#{number},#{inspectAreaId},#{deviceId},#{appId});
        <selectKey  resultType="long" keyProperty="id">
            select
            LAST_INSERT_ID() as id
        </selectKey>
    </insert>

    <select id="getIdByDeviceNumAndAreaId"   parameterType="map" resultType="java.lang.Long">
       select it.id
       from device d, inspecttag it
       where it.deviceId = d.id
       and d.number = #{deviceNumber}
       and it.inspectAreaId= #{inspectAreaId}
       and it.appId=#{appId}
    </select>

    <select id="getIdByNumber" parameterType="map" resultType="java.lang.Long">
        select id
        from inspecttag
        <where>
             NUMBER=#{number}
            AND APPID=#{appId}
        </where>


    </select>

    <select id="findByCondition" parameterType="map" resultMap="inspectTagResultMap">
        select
        <include refid="inspectTag_fields"/>
        from inspecttag
        <where>
            <if test="name!=null">NAME=#{name}</if>
            <if test="description!=null">AND DESCRIPTION=#{description}</if>
            <if test="createtime!=null">AND CREATETIME=#{createtime}</if>
            <if test="number!=null">AND NUMBER=#{number}</if>
            <if test="inspectAreaId!=null">AND INSPECTAREAID=#{inspectAreaId}</if>
            <if test="deviceId!=null">AND DEVICEID=#{deviceId}</if>
            <if test="appId!=null">AND APPID=#{appId}</if>
        </where>
    </select>

    <update id="update" parameterType="InspectTag">
        UPDATE inspecttag
        <set>
            <if test="name!=null">NAME=#{name},</if>
            <if test="description!=null">DESCRIPTION=#{description},</if>
            <if test="createtime!=null">CREATETIME=#{createtime},</if>
            <if test="number!=null">NUMBER=#{number},</if>
            <if test="inspectAreaId!=null">INSPECTAREAID=#{inspectAreaId},</if>
            <if test="deviceId!=null">DEVICEID=#{deviceId}</if>
        </set>
        WHERE ID=#{id}
    </update>

    <delete id="delete" parameterType="InspectTag">
        DELETE FROM inspecttag
        <where>
            <if test="id!=null">ID=#{id}</if>
        </where>
    </delete>

    <select id="getListByAppId" parameterType="java.lang.Long" resultMap="inspectTagResultMap">
        select
        <include refid="inspectTag_fields"/>
        from inspecttag
        where APPID=#{appId}
    </select>

</mapper>