@CHARSET "UTF-8";
body{
	font-size:13px;
	margin:0px
	} 
#main{
	/* background-color:#999999; */
	width:100%;
	height:100%;
	}
#container{
    width:100%;
    height:100%;
	} 
#rightshow{
	width:400px;
	height:100%;
	float: left;
	margin-left:2px;
	}
#righttitle{
	width:400px;
	height:50px;
	float: left;
	background-color: #F6F6F6;
	text-align: center;
	line-height: 50px;
	color: #454545;
	font-weight: bold;
	font-size: 15px;
    border-bottom: 1px solid #AAAAAA;
}
#rightcontent{
	width:400px;
	height:595px;
	float: left;
	margin-top:0px;
	/* overflow: auto; */
}
.rightitem{
	width:100%;
	height:80px;
	margin-top: 1px;
	border-bottom: 1px solid #AAAAAA;
	
}
.rightitem:HOVER{
	background-color: #F6F6F6;
	color: #454545;
	
}
.pic{
	width: 110px;
	height: 80px;
	display: inline-block;
	float: left;
}
.info{
	width: 210px;
	height: 80px;
	display: inline-block;
	float: left;

	line-height: 80px;
}
.riskvalue{
	height: 80px;
	display: inline-block;
	float: left;
	text-align: center;
	line-height: 80px;
}
.pic img{
	width: 110px;
	height: 80px;
}
.itemfont{
	margin-left: 12px;
	font-size: 15px;
	font-weight: bold;
	
}
.infofont{
    margin-left: 14px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 14px;
    display: inline-block;
}
.errorInfo{
    margin-left: 10px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}
.itemInfo{
     display: none;
     width: 400px;
     height: 200px;
     z-index: 999;
     position: relative;
     clear: both;
     border: 1px solid #999999;
}
.itemInfo img{
    width: 150px;
    height: 200px;
}
.infoImg{
    width: 150px;
    height: 200px;
    float: left;
}
.infoMsg{
   width: 240px;
    height: 200px;
    float: right;
    margin-left: 1px;
    float: left;
}
.msgItem{
    background-color: red;
    width: 240px;
    height: 30px;
    display: inline-block;
    margin-top: 1px;
}
.msgItemFont{
   margin-top: 2px;
   margin-left: 5px;
   display: inline-block;
  }
.hideField{
    display: none;

}

