.searchContainer{
    width: 100%;
    height: 25px;
    margin-top: 5px;
}
.searchItem{
    width: 200px;
    float: left;
    height: 25px;
    margin-left: 5px;
}
.item_font{
    width: 60px;
    float: left;
    height: 25px;
    line-height: 25px;
}
.item_input{
    width: 130px;
    float: left;
    height: 50px;
}
.btn{
    float: left;
    margin-left: 5px;
}
.reportShow{
    float: left;
}
