<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.whut.trackSystem.business.device.mapper.DeviceMapper">
    <sql id="device_fields">
        ID,NAME,NUMBER,LNG,LAT,DEVICETYPEID,GROUPID,ADDRESS,APPID
    </sql>
    <resultMap id="device_resultMap" type="Device">
        <id property="id" column="ID"/>
        <result property="name" column="NAME"/>
        <result property="number" column="NUMBER"/>
        <result property="lng" column="LNG"/>
        <result property="lat" column="LAT"/>
        <result property="deviceTypeId" column="DEVICETYPEID"/>
        <result property="groupId" column="GROUPID"/>
        <result property="address" column="ADDRESS"/>
        <result property="appId" column="APPID"/>
    </resultMap>

    <insert id="add" parameterType="Device"  keyProperty="id"
            useGeneratedKeys="true">
        INSERT INTO
        device(
        <include refid="device_fields" />
        )
        VALUES (#{id},#{name},#{number},#{lng},#{lat},#{deviceTypeId},#{groupId},#{address},#{appId});
        <selectKey resultType="java.lang.Long" keyProperty="id">
            select
            LAST_INSERT_ID() as id
        </selectKey>
    </insert>

    <update id="update" parameterType="Device">
        update device
        <set>
            <if test="deviceTypeId!=null">DEVICETYPEID=#{deviceTypeId},</if>
            <if test="groupId!=null">GROUPID=#{groupId},</if>
            <if test="address!=null">ADDRESS=#{address},</if>
            <if test="name!=null">NAME=#{name},</if>
            <if test="number!=null">NUMBER=#{number},</if>
            <if test="lng!=null">LNG=#{lng},</if>
            <if test="lat!=null">LAT=#{lat},</if>
            <if test="appId!=null">APPID=#{appId}</if>
        </set>
        where id=#{id} and appId=#{appId}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE FROM device
        WHERE ID=#{id}
    </delete>

    <select id="getAppIdByDeviceNum" parameterType="java.lang.String" resultType="java.lang.Long">
        SELECT appId
        FROM device
        WHERE number=#{number}
    </select>

    <select id="getListByAppId" parameterType="java.lang.Long" resultMap="device_resultMap">
        SELECT *
        FROM device
        WHERE appId=#{appId}
    </select>

    <select id="getIdByNumber" parameterType="map" resultType="java.lang.Long">
        SELECT id
        FROM device
        WHERE number=#{number} and appId=#{appId}
    </select>

    <select id="findByCondition" parameterType="java.lang.Long" resultType="map">
        SELECT d.*,dt.name as typeName,g.name as groupName
        FROM device as d,deviceType as dt,`group` as g
        WHERE d.appId=#{appId} AND dt.id=d.deviceTypeId AND d.groupId=g.id
    </select>

    <select id="getDeviceByCondition" parameterType="map" resultType="map">
       SELECT d.id as id,d.name as name
       FROM device as d,user_group as ug
       WHERE d.appId=#{appId} AND ug.deviceId=d.id AND ug.userId=#{userId} AND ug.groupId=#{groupId}
    </select>
</mapper>