<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.whut.inspectManagement.business.inspectReport.mapper.InspectReportMapper">
    <resultMap id="SearchReportBeanMap" type="SearchReportBean">
        <result property="devname" column="DEVNAME" />
        <result property="createtime" column="CREATETIME" />
        <result property="exceptioncount" column="EXCEPTIONCOUNT"/>
        <result property="tagName" column="TAGNAME" />
        <result property="itemName" column="ITEMNAME"/>
        <result property="userName" column="USERNAME" />
        <result property="mongoId" column="MONGOID" />
        <result property="zhouqi" column="ZHOUQI" />
        <result property="shijian" column="SHIJIAN" />
    </resultMap>
 <select id="getDeviceHistoryData" parameterType="map" resultMap="SearchReportBeanMap">
  SELECT *,count(id) as exceptioncount
  FROM (select itr.id,d.name as devname,
  <if test='sTime!=""'>
  ceiling(datediff(itr.createtime,${sTime})/7)  as zhouqi,
  </if>
  itr.createtime as shijian
  FROM inspecttablerecord itr,device d
  WHERE itr.deviceId=d.id
  <if test='appId!=0'>
      AND  itr.appId=${appId}
  </if>
  <if test='sTime!=""'>
  AND itr.createtime BETWEEN ${sTime}
  </if>
  <if test='eTime!=""'>
  AND ${eTime}
  </if>
  <if test='deviceId!="null"'>
  AND itr.deviceId=${deviceId}
  </if>
  )as s
  GROUP BY devname,
  <if test='sTime!=""'>
      zhouqi,
  </if>
     shijian
 </select>
 <select id="getInspectTableRecordList" parameterType="java.lang.String" resultType="map">
  SELECT
  itr.createtime,itr.inspectTime,itr.exceptioncount exceptioncount,itr.mongoId,itr.id,u.name as username,u.role,t.id,t.name as tablename,d.name as devname,dt.name as typename,em.employeeRoleName
  FROM
  inspecttablerecord itr,user u,inspecttable t,device d,devicetype dt,employee em
  WHERE
  itr.userId=u.id AND itr.inspectTableId=t.id AND itr.deviceId=d.id AND dt.id=d.deviceTypeId AND em.userId=u.id
  <if test='userId!="null"'>
   AND itr.userId=#{userId}
  </if>
  <if test='deviceId!="null"'>
  AND itr.deviceId=#{deviceId}
  </if>
  <if test='sTime!="" and eTime!=""'>
  AND  itr.createtime BETWEEN #{sTime} AND #{eTime}
  </if>
  <if test='appId!=0'>
     AND  itr.appId=#{appId}
  </if>
    order by itr.inspectTime desc
 </select>
 <select id="getInspectTableRecordListByBean" parameterType="map" resultMap="SearchReportBeanMap">
        SELECT
        itr.createtime,itr.exceptioncount exceptioncount,itr.mongoId,u.id,u.name as username,u.role,t.id,t.name as tablename,d.name as devname,dt.name as typename,em.employeeRoleName
        FROM
        inspecttablerecord itr,user u,inspecttable t,device d,devicetype dt,employee em
        WHERE
        itr.userId=u.id AND itr.inspectTableId=t.id AND itr.deviceId=d.id AND dt.id=d.deviceTypeId AND em.userId=u.id
        <if test='userId!="null"'>
            AND itr.userId=#{userId}
        </if>
        <if test='deviceId!="null"'>
            AND itr.deviceId=#{deviceId}
        </if>
        <if test='sTime!="" and eTime!=""'>
            AND  itr.createtime BETWEEN #{sTime} AND #{eTime}
        </if>
         <if test='appId!=0'>
             AND  itr.appId=#{appId}
         </if>
</select>
 <select id="getInfoByMongoDbObject" parameterType="map" resultType="map">
  SELECT
  u.name as userName,d.name as devName,t.name as tName,tag.name as tagName, it.name as itemName,ic.choiceValue as inspectChoiceValue
  FROM
  user u,device d,inspecttable t,inspecttag tag,inspectitem it,inspectchoice ic
  WHERE u.id=#{userId} AND d.id=#{deviceId} AND t.id=#{inspectTableId} AND tag.id=#{inspectTagId} AND it.id=#{inspectItemId} AND ic.choiceValue=#{inspectChoiceValue}
  GROUP BY  u.id,d.id,t.id,tag.id,it.id
 </select>
</mapper>