<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.whut.monitor.business.monitor.mapper.SensorMapper">
    <sql id="sensor_fields">
        ID,NAME,DESCRIPTION,NUMBER,GROUPID,AREAID,COLLECTORID,MAXFREQUENCY,MINFREQUENCY,WORKFREQUENCY,SHOULDWARN,WARNTYPE,WARNVALUE,WARNCOUNT,WARNSTATUS,APPID
    </sql>

    <resultMap id="SensorResultMap" type="Sensor">
        <id property="id" column="ID"/>
        <result property="name" column="NAME"/>
        <result property="description" column="DESCRIPTION"/>
        <result property="number" column="NUMBER"/>
        <result property="groupId" column="GROUPID"/>
        <result property="areaId" column="AREAID"/>
        <result property="collectorId" column="COLLECTORID"/>
        <result property="maxFrequency" column="MAXFREQUENCY"/>
        <result property="minFrequency" column="MINFREQUENCY"/>
        <result property="workFrequency" column="WORKFREQUENCY"/>
        <result property="shouldWarn" column="SHOULDWARN"/>
        <result property="warnType" column="WARNTYPE"/>
        <result property="warnValue" column="WARNVALUE"/>
        <result property="warnCount" column="WARNCOUNT"/>
        <result property="warnStatus" column="WARNSTATUS"/>
        <result property="appId" column="APPID"/>
    </resultMap>

    <insert id="add" parameterType="Sensor" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        sensor(<include refid="sensor_fields"/>)
        VALUES(#{id},#{name},#{description},#{number},#{groupId},#{areaId},#{collectorId},#{maxFrequency},#{minFrequency},#{workFrequency},#{shouldWarn},#{warnType},#{warnValue},#{warnCount},#{warnStatus},#{appId})
        <selectKey resultType="long" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
    </insert>

    <select id="getSensorId" parameterType="map" resultType="java.lang.Long">
        SELECT s.id
        FROM  sensor s
        WHERE
           s.number=#{number} AND s.appId=#{appId}
    </select>



    <select id="list" parameterType="java.lang.Long" resultType="map">
        SELECT s.id,s.`name`,s.description,s.number,g.`name` AS groupName,a.`name` AS areaName,c.`name` AS collectorName,c.`number` AS collectorNumber,s.maxFrequency,s.minFrequency,s.workFrequency,s.shouldWarn,s.warnType,s.warnValue,s.warnCount,s.warnStatus,s.appId
        FROM `group` g,area a,collector c,sensor s
        WHERE s.groupId=g.id AND s.areaId=a.id AND s.collectorId=c.id AND s.appId=#{appId}
    </select>

    <select id="getListByGroupAreaAndMonitor" parameterType="map" resultType="map">
        SELECT s.id,s.`name` AS sensorName,s.description,s.number,g.`name` AS groupName,a.`name` AS areaName,c.`name` AS collectorName,s.maxFrequency,s.minFrequency,s.workFrequency,s.shouldWarn,s.warnType,s.warnValue,s.warnCount,s.warnStatus,s.appId
        FROM `group` g,area a,collector c,sensor s
        WHERE s.groupId=g.id AND s.areaId=a.id AND s.collectorId=c.id AND s.appId=#{appId}
        <if test='group!=""'>
            AND  g.`name`=#{group}
        </if>
        <if test='areaName!=""'>
            AND  a.`name`=#{areaName}
        </if>
        <if test='monitor!=""'>
            AND  s.`name`=#{monitor}
        </if>
    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM sensor
        WHERE id=#{id};
    </delete>

    <update id="update" parameterType="Sensor">
       UPDATE sensor
       <set>
          <if test="name!=null">NAME=#{name},</if>
          <if test="description!=null">DESCRIPTION=#{description},</if>
          <if test="number!=null">NUMBER=#{number},</if>
          <if test="groupId!=null">GROUPID=#{groupId},</if>
          <if test="areaId!=null">AREAID=#{areaId},</if>
          <if test="collectorId!=null">COLLECTORID=#{collectorId},</if>
          <if test="maxFrequency!=null">MAXFREQUENCY=#{maxFrequency},</if>
          <if test="minFrequency!=null">MINFREQUENCY=#{minFrequency},</if>
          <if test="workFrequency!=null">WORKFREQUENCY=#{workFrequency},</if>
          <if test="shouldWarn!=null">SHOULDWARN=#{shouldWarn},</if>
          <if test="warnType!=null">WARNTYPE=#{warnType},</if>
          <if test="warnValue!=null">WARNVALUE=#{warnValue}</if>
       </set>
       WHERE ID=#{id} AND APPID=#{appId}
    </update>

    <select id="homePageList" parameterType="java.lang.Long" resultType="map">
        SELECT s.id,s.name,g.`name` AS groupName,a.`name` AS areaName,s.warnType,s.warnValue,s.warnCount,c.status AS status,c.`name` AS collectorName,s.number
        FROM `group` g,area a,collector c,sensor s
        WHERE s.groupId=g.id AND s.areaId=a.id AND s.collectorId=c.id AND s.appId=#{appId}
        <if test="fStatus!=''">AND status='在线正常工作'</if>
    </select>

    <update id="updateWarnCount" parameterType="map">
        UPDATE sensor
        <set>
            <if test="warnCount!=null">WARNCOUNT=#{warnCount}</if>
        </set>
        WHERE id=#{id} AND appId=#{appId}
    </update>

    <select id="getSensorsByAreaId" parameterType="map" resultMap="SensorResultMap">
        SELECT *
        FROM sensor
        WHERE areaId=#{areaId} AND appId=#{appId}
        GROUP BY `name`
    </select>

    <select id="getNumberBySensorId" parameterType="map" resultType="map">
        SELECT number
        FROM  sensor
        WHERE id=#{sensorId} AND appId=#{appId}
    </select>

    <select id="getWarnConditionByNumber" parameterType="java.lang.String" resultType="map">
        SELECT warnValue,warnCount,warnType
        FROM sensor
        WHERE `number`=#{number}
    </select>

    <update id="updateWarnCountByNumber" parameterType="map">
        UPDATE sensor
        <set>
            <if test="warnCount!=null">WARNCOUNT=#{warnCount}</if>
        </set>
        WHERE NUMBER=#{number}
    </update>

    <select id="findByNumber" parameterType="java.lang.String" resultType="map">
        SELECT s.`name`,g.name groupName,a.name areaName,c.name collectorName
        FROM sensor AS s,`group` AS g,area AS a,collector AS c
        WHERE s.number=#{number} AND g.id=s.groupId AND c.id=s.collectorId AND a.id=s.areaId
    </select>
    
    <select id="getSensorIdAndNumbersByName" parameterType="java.lang.String" resultType="map">
        SELECT id,`number`
        FROM sensor
        WHERE `name`=#{name}
    </select>

    <select id="getCollectorNameBySensorNumber" parameterType="java.lang.Long" resultType="map">
        SELECT c.`name`,c.id
        FROM collector AS c,sensor AS s
        WHERE c.id=s.collectorId AND s.`number`=#{number}
    </select>

    <select id="getDataTypeByIdAndAppId" parameterType="map" resultType="java.lang.Long">
        SELECT dataType
        FROM sensor
        WHERE id=#{id} AND appId=#{appId}
    </select>

    <select id="getCNumBySNum" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT collector.number
        FROM sensor,collector
        WHERE  sensor.collectorId=collector.id AND sensor.number=#{sNum}
    </select>

    <select id="getSensorNumByCNum" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT s.number
        FROM sensor AS s,collector AS c
        WHERE s.collectorId=c.id AND c.number=#{CNum}
    </select>
    <select id="getAppIdBySNum" parameterType="java.lang.String" resultType="java.lang.Long">
        SELECT sensor.appId
        FROM sensor
        WHERE sensor.number=#{sNum}
    </select>
    <select id="getGroupIdBySNum" parameterType="java.lang.String" resultType="java.lang.Long">
        SELECT sensor.groupId
        FROM sensor
        WHERE sensor.number=#{sNum}
    </select>

    <select id="getListByGroupName" parameterType="map" resultType="map">
        SELECT s.number
        FROM `group` g,sensor s
        WHERE s.groupId=g.id  AND s.appId=#{appId}  AND  g.`name`=#{group}
    </select>
    <select id="getSensorsByAreaName" parameterType="map" resultType="map">
        SELECT sensor.number
        FROM sensor,area,`group`
        WHERE area.name=#{areaName} AND sensor.appId=#{appId} AND sensor.areaId=area.id AND sensor.groupId=`group`.id AND `group`.name=#{groupName}
    </select>
    <select id="getDataTypeBySNumAndAppId" parameterType="map" resultType="java.lang.Long">
        SELECT dataType
        FROM sensor
        WHERE number=#{number} AND appId=#{appId}
    </select>
</mapper>