<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.whut.platform.business.riskcolor.mapper.RiskColorMapper">
    <sql id="risk_color_fields">
		ID,RISKVALUE,RISKCOLOR
	</sql>

    <resultMap id="riskColorResultMap" type="RiskColor">
        <id property="id" column="ID" />
        <result property="riskValue" column="RISKVALUE" />
        <result property="riskColor" column="RISKCOLOR" />
    </resultMap>

    <insert id="add" parameterType="RiskColor"  keyProperty="id"
            useGeneratedKeys="true">
        INSERT INTO
        riskcolor(
        <include refid="risk_color_fields" />
        )
        VALUES (#{id}, #{riskValue}, #{riskColor});
        <selectKey resultType="long" keyProperty="id">
            select
            LAST_INSERT_ID() as id
        </selectKey>
    </insert>

    <select id="totalCount" parameterType="map" resultType="java.lang.Long">
        SELECT count(*)
        FROM riskcolor
        <where>
            <if test="riskValue != null">RISKVALUE=#{riskValue}</if>
        </where>
    </select>


    <update id="update" parameterType="RiskColor">
        UPDATE riskcolor
        <set>
            <if test="riskValue != null">RISKVALUE=#{riskValue},</if>
            <if test="riskColor != null">RISKCOLOR=#{riskColor}</if>
        </set>
        WHERE ID = #{id};
    </update>

    <delete id="delete" parameterType="RiskColor">
        DELETE FROM riskcolor
        <where>
            <if test="id != null">ID=#{id}</if>
            <if test="riskValue != null">AND RISKVALUE=#{riskValue}</if>
            <if test="riskcolor != null">AND RISKCOLOR=#{riskColor}</if>
        </where>
    </delete>

    <select id="get" parameterType="RiskColor" resultMap="riskColorResultMap">
        SELECT
        <include refid="risk_color_fields" />
        FROM riskcolor WHERE ID=#{id}
    </select>

    <select id="list" resultMap="riskColorResultMap">
        SELECT
        <include refid="risk_color_fields"/>
        FROM riskcolor
        <where>
            <if test="riskValue!=null">RISKVALUE=#{riskValue}</if>
            <if test="riskColor!=null">AND RISKCOLOR=#{riskColor}</if>
        </where>
        ORDER BY RISKVALUE
    </select>

    <update id="setColor" parameterType="RiskColor">
        UPDATE riskcolor
        SET RISKCOLOR=#{riskColor}
        WHERE RISKVALUE = #{riskValue}
    </update>
    <select id="getRiskValueList" resultMap="riskColorResultMap">
        SELECT DISTINCT(riskvalue)
        FROM riskcolor
        ORDER BY riskvalue
    </select>
</mapper>