<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.whut.rentManagement.business.storehouse.mapper.StoreHouseMapper">
    <sql id="storeHouse_fields">
         ID,NAME,DESCRIPTION,CREATETIME,ADDRESS,LINKMAN,TELEPHONE,APPID
     </sql>
    <resultMap id="storeHouseResultMap" type="StoreHouse">
        <id property="id" column="ID"/>
        <result property="name" column="NAME"/>
        <result property="description" column="DESCRIPTION"/>
        <result property="createTime" column="CREATETIME"/>
        <result property="address" column="ADDRESS"/>
        <result property="linkman" column="LINKMAN"/>
        <result property="telephone" column="TELEPHONE"/>
        <result property="appId" column="APPID"/>
    </resultMap>

    <insert id="add" parameterType="StoreHouse"  keyProperty="id"
            useGeneratedKeys="true">
        INSERT INTO
        storehouse(
        <include refid="storeHouse_fields" />
        )
        VALUES (#{id}, #{name},#{description} ,#{createTime},#{address},#{linkman},#{telephone},#{appId});
        <selectKey resultType="long" keyProperty="id">
            select
            LAST_INSERT_ID() as id
        </selectKey>
    </insert>

    <update id="update" parameterType="StoreHouse">
        UPDATE storehouse
        <set>
            <if test="name!=null">NAME=#{name},</if>
            <if test="description!=null">DESCRIPTION=#{description},</if>
            <if test="address!=null">ADDRESS=#{address},</if>
            <if test="linkman!=null">Linkman=#{linkman},</if>
            <if test="telephone!=null">TELEPHONE=#{telephone}</if>
        </set>
        WHERE ID=#{id}
    </update>

    <delete id="delete" parameterType="StoreHouse">
        DELETE  storehouse,device FROM storehouse LEFT JOIN device ON storehouse.id = device.storehouseId
        WHERE storehouse.id=#{id}
    </delete>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE  storehouse,device FROM storehouse LEFT JOIN device ON storehouse.id = device.storehouseId
        WHERE storehouse.id=#{id}
    </delete>

    <select id="getListByAppId" parameterType="java.lang.Long" resultMap="storeHouseResultMap">
        select
        <include refid="storeHouse_fields"/>
        from storehouse
        where APPID=#{appId}
    </select>

    <select id="getIdByNameAndAppId" parameterType="map" resultType="java.lang.Long">
        select id
        from storehouse
        where NAME=#{name} and APPID=#{appId}
    </select>

</mapper>