<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.whut.inspectManagement.business.inspectLocate.mapper.InspectLocateMapper">
   <select id="getInspectLocateInfoByAppId" parameterType="java.lang.Long" resultType="map">
       SELECT *
       FROM inspect_locate
       WHERE appId=#{appId}
   </select>
</mapper>