<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.whut.rentManagement.business.stock.mapper.StockOutMapper">
    <sql id="StockOut_fields">
          ID,NUMBER,CONTRACTID,DRIVER,CARNUMBER,HANDLER,TRANSPORTID,STOREHOUSEID,DESCRIPTION,CREATETIME,IMAGE,APPID
    </sql>
    <resultMap id="StockOutResultMap" type="StockOut">
        <id property="id" column="ID" />
        <result property="number" column="NUMBER"/>
        <result property="contractId" column="CONTRACTID"/>
        <result property="driver" column="DRIVER"/>
        <result property="carNumber" column="CARNUMBER"/>
        <result property="handler" column="HANDLER"/>
        <result property="transportId" column="TRANSPORTID"/>
        <result property="storehouseId" column="STOREHOUSEID"/>
        <result property="description" column="DESCRIPTION"/>
        <result property="createTime" column="CREATETIME"/>
        <result property="image" column="IMAGE"/>
        <result property="appId" column="APPID"/>
    </resultMap>
    <insert id="add" parameterType="StockOut"  keyProperty="id"
            useGeneratedKeys="true">

        INSERT INTO
        stock_out(
        <include refid="StockOut_fields" />
        )
        VALUES (#{id}, #{number},#{contractId},#{driver},#{carNumber},#{handler},#{transportId},#{storehouseId},#{description},#{createTime},#{image},#{appId});
        <selectKey resultType="long" keyProperty="id">
            select
            LAST_INSERT_ID() as id
        </selectKey>
    </insert>

    <select id="getListByAppId" parameterType="java.lang.Long" resultType="Map">
           select stock_out.*,contract.name as contractName,customer.name as customerName,storehouse.name as storehouseName
           from  stock_out
        LEFT JOIN contract ON stock_out.contractId=contract.id
        LEFT JOIN storehouse ON stock_out.storehouseId=storehouse.id
        LEFT JOIN customer ON contract.customerId=customer.id
           where stock_out.appId=#{appId}
        order by stock_out.id desc
    </select>

    <update id="update" parameterType="StockOut">
        UPDATE stock_out
        <set>
            <if test="driver!=null">DRIVER=#{driver},</if>
            <if test="carNumber!=null">CARNUMBER=#{carNumber},</if>
            <if test="createTime!=null">CREATETIME=#{createTime},</if>
            <if test="number!=null">NUMBER=#{number},</if>
            <if test="handler!=null">HANDLER=#{handler},</if>

            <if test="description!=null">DESCRIPTION=#{description},</if>
        </set>
        WHERE ID=#{id}
    </update>
    <delete id="delete" parameterType="StockOut">
        DELETE from stock_out
        <where>
            <if test="id!=null">ID=#{id}</if>
        </where>
    </delete>

    <select id="findByCondition" parameterType="map" resultType="map">
        select stock_out.*,contract.name as contractName,customer.name as customerName,storehouse.name as storehouseName
        from stock_out
        LEFT JOIN contract ON stock_out.contractId=contract.id
        LEFT JOIN storehouse ON stock_out.storehouseId=storehouse.id
        LEFT JOIN customer ON contract.customerId=customer.id
        <where>
            <if test="appId!=null"> stock_out.APPID=#{appId}</if>
            <if test="user!=null">AND stock_out.handler like CONCAT('%',#{user},'%') </if>
            <if test="device!=null">AND contract.name like CONCAT('%',#{device},'%')</if>
            <if test="startTime!=null"><![CDATA[ AND stock_out.createTime>=#{startTime}]]></if>
            <if test="endTime!=null"><![CDATA[ AND stock_out.createTime<=#{endTime} ]]> </if>
        </where>
        order by stock_out.id desc
    </select>

    <select id="getInfo" parameterType="map" resultType="map">
        select stock_out.*,contract.name as contractName,customer.name as customerName,storehouse.name as storehouseName
        from stock_out
        LEFT JOIN contract ON stock_out.contractId=contract.id
        LEFT JOIN storehouse ON stock_out.storehouseId=storehouse.id
        LEFT JOIN customer ON contract.customerId=customer.id
        <where>
            <if test="appId!=null">stock_out.APPID=#{appId}</if>
            <if test="stockOutId!=null">AND stock_out.id=#{stockOutId}</if>
        </where>
        order by stock_out.id desc
    </select>

    <select id="getListByContractId" parameterType="map" resultType="Map">
        select stock_out.*,contract.name as contractName,customer.name as customerName,storehouse.name as storehouseName
        from stock_out
        LEFT JOIN contract ON stock_out.contractId=contract.id
        LEFT JOIN storehouse ON stock_out.storehouseId=storehouse.id
        LEFT JOIN customer ON contract.customerId=customer.id
        <where>
            <if test="appId!=null">stock_out.appId=#{appId}</if>
            <if test="contractId!=null">AND stock_out.contractId=#{contractId}</if>
        </where>
        order by stock_out.id desc
    </select>
</mapper>