<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.whut.rentManagement.business.stock.mapper.StockOutDeviceMapper">
    <sql id="StockOutDevice_fields">
          ID,STOCKOUTID,DEVICEID
    </sql>
    <resultMap id="StockOutDeviceResultMap" type="StockOutDevice">
        <id property="id" column="ID" />
        <result property="stockOutId" column="STOCKOUTID"/>
        <result property="deviceId" column="DEVICEID"/>
    </resultMap>

    <insert id="add" parameterType="StockOutDevice"  keyProperty="id"
            useGeneratedKeys="true">
        INSERT INTO
        stock_out_device(
        <include refid="StockOutDevice_fields" />
        )
        VALUES (#{id}, #{stockOutId},#{deviceId});
        <selectKey resultType="long" keyProperty="id">
            select
            LAST_INSERT_ID() as id
        </selectKey>
    </insert>

    <select id="getListByAppId" parameterType="java.lang.Long" resultType="Map">
           select stock_out_device.*
           from  stock_out,stock_out_device
           where stock_out.id=stock_out_device.stockOutId and stock_out.appId=#{appId}
    </select>

    <update id="update" parameterType="StockOutDevice">
        UPDATE stock_out_device
        <set>
            <if test="stockOutId!=null">STOCKOUTID=#{stockOutId},</if>
            <if test="deviceId!=null">DEVICEID=#{deviceId}</if>
        </set>
        WHERE ID=#{id}
    </update>

    <delete id="delete" parameterType="StockOutDevice">
        DELETE from stock_out_device
        <where>
            <if test="id!=null">ID=#{id}</if>
        </where>
    </delete>

    <delete id="deleteByStockOutId" parameterType="StockOutDevice">
        DELETE from stock_out_device
        <where>
            <if test="stockOutId!=null">STOCKOUTID=#{stockOutId}</if>
        </where>
    </delete>

    <select id="listByStockOutId" parameterType="map" resultType="map">
        select device.*,device_type.name as deviceType
        from stock_out_device,device,device_type
        where stock_out_device.deviceId=device.id AND device.typeId=device_type.id
        <if test="stockOutId!=null">AND stock_out_device.stockOutId=#{stockOutId} </if>
        <if test="appId!=null">AND device.APPID=#{appId}</if>
    </select>

</mapper>