<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.whut.rentManagement.business.device.mapper.DeviceMapper">
    <sql id="device_fields">
          ID,MAINDEVICEID,TYPEID,STOREHOUSEID,CONTRACTID,ADDRESS,STATUS,NAME,NUMBER,PRICE,PRODUCETIME,CREATETIME,PRICEUNIT,APPID
    </sql>
    <resultMap id="deviceResultMap" type="device">
        <id property="id" column="ID" />
        <result property="mainDeviceId" column="MAINDEVICEID" />
        <result property="typeId" column="TYPEID"/>
        <result property="storehouseId" column="STOREHOUSEID"/>
        <result property="contractId" column="CONTRACTID"/>
        <result property="address" column="ADDRESS"/>
        <result property="status" column="STATUS"/>
        <result property="name" column="NAME"/>
        <result property="number" column="NUMBER"/>
        <result property="price" column="PRICE"/>
        <result property="produceTime" column="PRODUCETIME"/>
        <result property="createTime" column="CREATETIME"/>
        <result property="priceUnit" column="PRICEUNIT"/>
        <result property="appId" column="APPID"/>
    </resultMap>
    <insert id="add" parameterType="device"  keyProperty="id"
            useGeneratedKeys="true">
        INSERT INTO
        device(
        <include refid="device_fields" />
        )
        VALUES (#{id}, #{mainDeviceId},#{typeId},#{storehouseId},#{contractId},#{address},#{status},#{name},#{number},#{price},#{produceTime},#{createTime},#{priceUnit},#{appId});
        <selectKey resultType="long" keyProperty="id">
            select
            LAST_INSERT_ID() as id
        </selectKey>
    </insert>

    <update id="update" parameterType="Device">
        update device
        <set>
            <if test="name!=null">NAME=#{name},</if>
            <if test="number!=null">  NUMBER=#{number},</if>
            <if test="createTime!=null"> CREATETIME=#{createTime},</if>
            <if test="appId!=null">APPID=#{appId},</if>
            <if test="typeId!=null">TYPEID=#{typeId},</if>
            <if test="mainDeviceId!=null">MAINDEVICEID=#{mainDevcieId},</if>
            <if test="contractId!=null">CONTRACTID=#{contractId},</if>
            <if test="storehouseId!=null">STOREHOUSEID=#{storehouseId},</if>
            <if test="address!=null">ADDRESS=#{address},</if>
            <if test="status!=null">STATUS=#{status},</if>
            <if test="price!=null">PRICE=#{price},</if>
            <if test="priceUnit!=null">PRICEUNIT=#{priceUnit},</if>
            <if test="produceTime!=null">PRODUCETIME=#{produceTime}</if>
        </set>
        where ID=#{id};
    </update>

    <delete id="delete" parameterType="Device">
        DELETE FROM device
        <where>
            <if test="id != null">ID=#{id}</if>
            <if test="name != null"> AND NAME=#{name}</if>
        </where>
    </delete>

    <select id="getListByAppId" parameterType="java.lang.Long" resultMap="deviceResultMap">
        select
        <include refid="device_fields"/>
        from device
        where APPID=#{appId}
    </select>

    <select id="getIdByNumber" parameterType="map" resultType="java.lang.Long">
        select id
        from device
        where NUMBER=#{number} and APPID=#{appId}
    </select>

</mapper>