<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.whut.trackSystem.business.group.mapper.GroupUserMapper">
    <sql id="groupUser_fields">
        ID,GROUPID,USERID,DEVICEID,DESCRIPTION,APPID
    </sql>
    <resultMap id="groupUser_resultMap" type="GroupUser">
        <id property="id" column="ID"/>
        <result property="groupId" column="GROUPID"/>
        <result property="userId" column="USERID"/>
        <result property="deviceId" column="DEVICEID"/>
        <result property="description" column="DESCRIPTION"/>
        <result property="appId" column="APPID"/>
    </resultMap>

    <insert id="add" parameterType="GroupUser"  keyProperty="id"
            useGeneratedKeys="true">
        INSERT INTO
        user_group(
        <include refid="groupUser_fields" />
        )
        VALUES (#{id},#{groupId},#{userId},#{deviceId},#{description},#{appId});
        <selectKey resultType="java.lang.Long" keyProperty="id">
            select
            LAST_INSERT_ID() as id
        </selectKey>
    </insert>

    <update id="update" parameterType="GroupUser">
        update user_group
        <set>
            <if test="groupId!=null">GROUPID=#{groupId},</if>
            <if test="userId!=null">USERID=#{userId},</if>
            <if test="deviceId!=null">DEVICEID=#{deviceId},</if>
            <if test="description!=null">DESCRIPTION=#{description},</if>
            <if test="appId!=null">APPID=#{appId}</if>
        </set>
        where id=#{id} and appId=#{appId}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE FROM user_group
        WHERE ID=#{id}
    </delete>

    <select id="getListByAppId" parameterType="java.lang.Long" resultMap="groupUser_resultMap">
        SELECT *
        FROM user_group
        WHERE appId=#{appId}
    </select>

    <select id="getGroupIdByUserId" parameterType="map" resultType="java.lang.Long">
        SELECT groupId
        FROM user_group
        WHERE userId=#{userId} AND appId=#{appId}
        GROUP BY groupId
    </select>

    <select id="findByCondition" parameterType="map" resultType="map">
        SELECT d.*,g.name as groupName,u.name as userName
        FROM user_group as ug,device as d,`group` as g,user as u
        WHERE ug.groupId=#{groupId} AND ug.appId=#{appId} AND ug.deviceId=d.id AND d.groupId=g.id AND ug.userId=u.id
    </select>

    <select id="getExtraInfo" parameterType="map" resultType="map">
        SELECT u.name as userName,d.name as `name`
        FROM user_group as ug,device as d,user as u
        WHERE d.number=#{deviceNum} AND d.id=ug.deviceId AND ug.appId=#{appId} AND u.id=ug.userId
    </select>

    <select id="getUserByGroupIdAndAppId" parameterType="map" resultType="map">
        SELECT u.name as name,u.id as id
        FROM user_group as ug,user as u
        WHERE ug.groupId=#{groupId} AND ug.appId=#{appId} AND ug.userId=u.id
        GROUP BY u.id
    </select>

    <select id="getListByCondition" parameterType="map" resultType="map">
        SELECT d.id as deviceId,d.name as deviceName,u.name as userName,g.name as groupName,d.number as deviceNumber
        FROM device as d,user_group as ug,user as u,`group` as g
        WHERE ug.appId=#{appId}
        <if test="groupId!=null"> AND ug.groupId=#{groupId}</if>
        <if test="userId!=null"> AND ug.userId=#{userId}</if>
        AND ug.userId=u.id AND ug.groupId=d.groupId AND ug.deviceId=d.id
        GROUP BY d.id
    </select>
</mapper>