<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml,classpath*:META-INF/spring/*-applicationContext.xml</param-value>
    </context-param>

    <context-param>
        <param-name>logbackConfigLocation</param-name>
        <param-value>WEB-INF/logback.xml</param-value>
    </context-param>

    <listener>
        <listener-class>ch.qos.logback.ext.spring.web.LogbackConfigListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>

<!--    <listener>
        <description>mina通讯服务启动</description>
        <listener-class>org.whut.platform.fundamental.communication.listener.MinaStartListener</listener-class>
    </listener>-->

    <listener>
        <description>activeMQ消息监听启动</description>
        <listener-class>org.whut.platform.fundamental.message.listener.MessageReceiverStartListener</listener-class>
    </listener>

    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>jerseyServlet</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>org.whut.platform.business,org.whut.deviceManagement.business</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>jerseyServlet</servlet-name>
        <url-pattern>/rs/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>JasperReportImageServlet</servlet-name>
        <servlet-class>
            net.sf.jasperreports.j2ee.servlets.ImageServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JasperReportImageServlet</servlet-name>
        <url-pattern>/image</url-pattern>
    </servlet-mapping>
    <!-- Servlet Configuration ========================================== -->
    <context-param>
        <param-name>UPLOAD_IMAGE_PATH</param-name>
        <param-value>/imageupload</param-value>
    </context-param>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>