.selectAutoFill_PanelSty {
    height: 45px;
    line-height: 45px;
    width: 100%;
}
.selectDefault {
    font-family: '微软雅黑';
    font-size: 9px;
    height: 25px;
    width: 100%;
}
.dropdownlistControl {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 3px;
    color: #FFFFFF;
    text-align: right;
    width: 100%;
}
.dropdownControlShell {
    z-index: 2000;
}
.navbar, .navbar .nav {
    margin: 0;
}
.dropdown {
    min-height: 25px;
    min-width: 80px;
    width: 100%;
    z-index: 1001;
}
.dropdown-menu {
    overflow-y: auto;
    z-index: 1001;
}
.dropdown, .dropdown li {
    text-align: left;
}
.dropdown-theme1-a {
    height: 25px;
}
.dropdown-theme1-ic {
    border: 1px solid #A7A7A7;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.downArrow {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../images/dropdown-down1.png") no-repeat scroll 50% 50% rgba(0, 0, 0, 0);
    border-bottom-right-radius: 3px;
    border-color: #A7A7A7;
    border-image: none;
    border-left: 1px solid #A7A7A7;
    border-style: solid;
    border-top-right-radius: 3px;
    border-width: 0 0 0 1px;
    display: inline-block;
    height: 100%;
    margin-left: 5px;
    width: 20px;
}
.DropDownList_Pro_Panel {
    border: 1px solid #667C8D;
    border-radius: 10px;
    height: auto;
    margin: 10px 0;
    padding: 5px 0;
    width: 100%;
}
.DropDownListProPanelTable {
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
    border-radius: 5px;
    font-family: '微软雅黑',Arial;
    font-size: 12px;
    font-weight: bold;
    height: auto;
    width: 100%;
}
.DropDownListProPanelTable td {
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
}
.DropDownListProTabtd0 {
    padding: 1px;
    text-align: right;
}
.DropDownListProTabtd1 {
    padding: 1px;
    text-align: left;
}
.DropDownListProTabtd1 select {
    font-family: '微软雅黑',Arial;
    font-size: 12px;
    margin-bottom: 0;
    margin-left: 0;
    width: 150px;
}
.DropDownListProTabtd1 input[type="text"] {
    font-family: '微软雅黑',Arial;
    font-size: 12px;
    width: 150px;
}
.DropDownListTextOver {
    float: left;
    overflow: hidden;
    text-align: left;
    text-indent: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80px;
}
.openList > .dropdown-menu {
    display: block;
}