<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.whut.rentManagement.business.supplier.mapper.SupplierMapper">
    <sql id="supplier_fields">
          ID,NAME,DESCRIPTION,ADDRESS,LINKMAN,TELEPHONE,EMAIL,QQ,CREATETIME,APPID
    </sql>
    <resultMap id="supplierResultMap" type="supplier">
        <id property="id" column="ID" />
        <result property="name" column="NAME" />
        <result property="description" column="DESCRIPTION"/>
        <result property="address" column="ADDRESS"/>
        <result property="linkman" column="LINKMAN"/>
        <result property="telephone" column="TELEPHONE"/>
        <result property="email" column="EMAIL"/>
        <result property="qq" column="QQ"/>
        <result property="createTime" column="CREATETIME"/>
        <result property="appId" column="APPID"/>
    </resultMap>
    <insert id="add" parameterType="supplier"  keyProperty="id"
            useGeneratedKeys="true">
        INSERT INTO
        supplier(
        <include refid="supplier_fields" />
        )
        VALUES (#{id},#{name},#{description},#{address},#{linkman},#{telephone},#{email},#{qq},#{createTime},#{appId});
        <selectKey resultType="long" keyProperty="id">
            select
            LAST_INSERT_ID() as id
        </selectKey>
    </insert>

    <update id="update" parameterType="supplier">
        UPDATE supplier
        <set>
            <if test="name != null">NAME=#{name},</if>
            <if test="description != null">DESCRIPTION=#{description},</if>
            <if test="address != null">ADDRESS=#{address},</if>
            <if test="linkman != null">LINKMAN=#{linkman},</if>
            <if test="telephone != null">TELEPHONE=#{telephone},</if>
            <if test="email != null">EMAIL=#{email},</if>
            <if test="qq != null">QQ=#{qq},</if>
            <if test="appId != null">APPID=#{appId},</if>
        </set>
        WHERE ID = #{id};
    </update>

    <delete id="delete" parameterType="User">
        DELETE FROM  supplier
        <where>
            <if test="id != null">ID=#{id}</if>

            <if test="name != null"> AND NAME=#{name}</if>
        </where>
    </delete>

    <select id="findByCondition" parameterType="map" resultMap="supplierResultMap">
        SELECT
        <include refid="supplier_fields"/>
        FROM supplier
        <where>
            <if test="appId!=null">APPID=#{appId}</if>
            <if test="name!=null">AND NAME=#{name}</if>
            <if test="description!=null">AND DESCRIPTION=#{description}</if>
            <if test="address!=null">AND ADDRESS=#{address}</if>
            <if test="linkman!=null">AND LINKMAN=#{linkman}</if>
            <if test="telephone!=null">AND TELEPHONE=#{telephone}</if>
            <if test="email!=null">AND EMAIL=#{email}</if>
            <if test="qq!=null">AND QQ=#{qq}</if>
            <if test="createTime!=null">AND CREATETIME=#{createTime}</if>
        </where>
    </select>


    <select id="getIdByName" parameterType="map" resultType="java.lang.Long">
        SELECT  id
        FROM supplier
        WHERE NAME=#{name}  AND APPID=#{appId}
    </select>

    <select id="getIdByTelephone" parameterType="map" resultType="java.lang.Long">
        SELECT  id
        FROM supplier
        WHERE TELEPHONE=#{telephone}
    </select>

    <select id="getByNameAndLinkman" parameterType="map" resultMap="supplierResultMap">
        select
        <include refid="supplier_fields"/>
        from supplier
        <where>
            <if test="name !=null"> NAME LIKE #{name}</if>
            <if test="linkman !=null">and LINKMAN like #{linkman}</if>
            <if test="appId !=null"> and APPID=#{appId}</if>
        </where>
    </select>


</mapper>